.idea
.DS_Store
node_modules
/build
/package
.eslintcache
.env
.env.*
!.env.example
.pnpm-debug.log
/dist
/**/*.js.map
/**/*.js
/.vscode
/.svelte-kit
yarn-error.log
!*.config.js
infrastructure/python/package
package.zip